{% extends 'base_generic.html' %}

{% block title %}
<title>RW11 | Team</title>
{% endblock title %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-lg-9 mx-auto">
            <h1 class="d-none">Team</h1>
            {% if team_members %}
            {% for team_member in team_members %}
            <div class="row {% if not forloop.last %} mb-4 {% endif %}">
                <div class="col-12 col-lg-7">
                    <h2 class="mb-3">
                        {{ team_member.name }}{% if team_member.birthday %}, {{ team_member.age }}{% endif %}
                    </h2>
                    <p>{{ team_member.description|safe }}</p>
                </div>
                <div class="col-12 col-lg-5">
                    {% if team_member.image %}
                    <img src="{{ team_member.image.url }}" class="d-block w-100" alt="{{ team_member.name }}">
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}